{% extends 'BlogApp/index.html' %}
    {% load static %}

{% block titulo_ppal %}
Perfil Usuario
{% endblock titulo_ppal %}

{% block imagen %}

{% static 'BlogApp/assets/img/electric-guitar.jpg'%}

{% endblock imagen %}

{% block bienvenida %}
{{user.username}}
{% endblock bienvenida %}


{% block contenido %}

<div class="container-fluid mb-5">
    <p></p>
    <div class="container-fluid mb-5">
        <div class="row">
            <div class="container-fluid mb-5">
                <div class="row">
                        <div class="col-sm-8 d-flex align-items-center"> 
                            <div class="about-me">                    
                                <div class="d-flex justify-content-start align-items-center"> 

                                    {%if user.first_name and user.last_name%}
                                    <h2><strong>{{user.first_name}} {{user.last_name}}</strong></h2>
                                    {%else%}
                                    <h2><strong>Nombre Apellido</strong></h2>
                                    {%endif%}
                                </div>
                                <div class="text-muted mb-3">
                                <p>Usuario: {{user.username}}</p>  
                                <p>Email: {{user.email}}</p>
                                <p>Instagram: {{user.instagram}}</p>
                                
                                </div>
                            </div>
                        </div>

                        <div id="description" class="container-fluid mb-5">
                            <p>{{descripcion}}<p>

                            {% if request.user.username == user.username or request.user.is_superuser %}
                            <a class="btn btn-primary" href="{% url 'edit user' %}" style="position:center;">Editar</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>

{% endblock contenido %}